<div class="container">
    <!-- String interpolation example and localStorage example -->
    <p>My Email Id - {{email}}</p>
    <!-- property Binding Example -->
    <div class="buttons">
        <button type="button" class="btn btn-success" (click)="otherTasks()">Other-Tasks</button>
        <button type="button" class="btn btn-primary" (click)="routeToRegistrationForm()"
            [disabled]="propertyBinding">Register</button>
    </div>
    <div class="excel">
        <input type="file" (change)="onFileChange($event)" multiple="false" />
        <table id="TheTable" class="ExcelTable2007">
            <thead #header>
                <tr>
                    <th *ngFor="let headValue of headData">
                        {{headValue}}
                    </th>
                </tr>
            </thead>
            <tbody #container>
                <tr *ngFor="let row of data">
                    <td *ngFor="let val of headData; let i =index">
                        {{row[i] || ' '}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>