<div class="main-container">
    <div class="container">
        <div class="content">
            <div class="header">
                <h2 class="mb-2 text-center">Login Form</h2>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)='onLogin()'>
                <div class="form-group input-field">
                    <label for="email" class="login-text">Email</label>
                    <input
                        [ngClass]="{'error-control': !loginForm.get('email').valid &&  loginForm.get('email').touched}"
                        type="email" class="form-control" placeholder="Email" formControlName="email" />
                    <span
                        *ngIf="loginForm.get('email').errors?.required && loginForm.get('email').touched"
                        class="error-message">Please
                        enter email</span>
                    <span *ngIf="loginForm.get('email').errors?.pattern && loginForm.get('email').touched"
                        class="error-message">Please enter
                        a valid email.</span>
                </div>
                <div class="form-group input-field"> 
                    <label class="login-text" for="exampleInputEmail1">Password</label>
                    <input
                        [ngClass]="{'error-control': !loginForm.get('password').valid &&  loginForm.get('password').touched}"
                        type="text" class="form-control input-field" placeholder="New Password"
                        formControlName="password">
                        <span *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched"
                        class="error-message">Please enter password</span>

                    <span *ngIf="loginForm.get('password').touched" class="error-message"
                        [ngClass]="loginForm.controls['password'].hasError('hasSmallCase') || loginForm.controls['password'].hasError('hasSpecialCharacters') || loginForm.controls['password'].hasError('minlength') || loginForm.controls['password'].hasError('hasCapitalCase') || loginForm.controls['password'].hasError('hasNumber')  ? 'error-message' : 'hidden'">
                        Enter valid password!
                    </span>
                </div>
                <div class="box mt-5">
                    <button class="primary-btn" [disabled]="!loginForm.valid" type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>
