.scrollbar-thin { 
    scrollbar-width: thin; 
    height: 150px; 
    width: 200px; 
    overflow-y: scroll; 
} 
div::-webkit-scrollbar {
    width: 12px;
}
    
div::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 border-radius: 10px;
}