<div class="scrollbar-thin">
    GeeksforGeeks is a computer science
    portal with a huge variety of well
    written and explained computer science
    and programming articles, quizzes and
    interview questions. The portal also
    has dedicated GATE preparation and
    competitive programming sections.
</div>
<hr />
<br>
<hr />
<br>
<div class="date">
    <p>DateTime as Milliseconds : {{todayNumber}}
        datepipe:{{todayNumber | date}}</p>
    <p>DateTime as object : {{todayDate}}
        datepipe:{{todayDate | date}}</p>
    <p>DateTime as string : {{todayString}}
        datepipe:{{todayString | date}}</p>
    <p>DateTime as iso string : {{todayISOString}}
        datepipe:{{todayISOString | date}}</p>
</div>

<div class="buttons">
    <button type="button" class="btn btn-primary" (click)="routeToRegistrationForm()"
        [disabled]="propertyBinding">Register</button>
</div>