<div class="main-container">
    <div class="container">
        <div class="content">
            <div class="register">
                <div class="header">
                    <h2 class="mb-2 text-center">Registration Form</h2>
                </div>
                <form [formGroup]="registrationForm" (ngSubmit)='onregistration()'>
                    <!-- <div formArrayName="arr" *ngFor="let a of registrationForm.get('arr').controls; let i = index"></div> -->
                    <div class="form-group input-field">
                        <label class="text">Full Name</label>
                        <input
                            [ngClass]="{'error-control': !registrationForm.get('name').valid &&  registrationForm.get('name').touched}"
                            type="text" class="form-control input-field" placeholder="Full Name" formControlName="name">
                        <span *ngIf="registrationForm.get('name').invalid  && registrationForm.get('name').touched"
                            class="error-message">Please enter fullname</span>
                    </div>
                    <div class="form-group input-field">
                        <label class="text">Email</label>
                        <input
                            [ngClass]="{'error-control': !registrationForm.get('email').valid &&  registrationForm.get('email').touched}"
                            type="text" class="form-control input-field" placeholder="Email" formControlName="email">
                        <span
                            *ngIf="registrationForm.get('email').errors?.required && registrationForm.get('email').touched"
                            class="error-message">Please
                            enter email</span>
                        <span
                            *ngIf="registrationForm.get('email').errors?.pattern && registrationForm.get('email').touched"
                            class="error-message">Please enter
                            a valid email.</span>
                    </div>
                    <div class="form-group input-field">
                        <label class="text">Mobile Number</label>
                        <input (keypress)="onlyNumberKey($event)" maxlength="10" minlength="10"
                            [ngClass]="{'error-control': !registrationForm.get('phone').valid &&  registrationForm.get('phone').touched}"
                            type="text" class="form-control input-field" placeholder="Mobile No"
                            formControlName="phone">
                        <span
                            *ngIf="registrationForm.get('phone').errors?.required && registrationForm.get('phone').touched"
                            class="error-message">Please enter number</span>
                        <span
                            *ngIf="registrationForm.get('phone').errors?.minlength && registrationForm.get('phone').touched"
                            class="error-message">Please enter valid number</span>
                        <span
                            *ngIf="registrationForm.controls['phone'].hasError('maxlength') && registrationForm.get('phone').touched"
                            class="error-message">Please enter valid number</span>
                    </div>
                    <div class="form-group input-field">
                        <label class="text">New Password</label>
                        <input
                            [ngClass]="{'error-control': !registrationForm.get('password').valid &&  registrationForm.get('password').touched}"
                            type="text" class="form-control input-field" placeholder="New Password"
                            formControlName="password">
                        <span
                            *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.get('password').touched"
                            class="error-message">Password is Required!</span>

                        <span *ngIf="registrationForm.get('password').touched" class="error-message"
                            [ngClass]="registrationForm.controls['password'].hasError('hasSmallCase') || registrationForm.controls['password'].hasError('hasSpecialCharacters') || registrationForm.controls['password'].hasError('minlength') || registrationForm.controls['password'].hasError('hasCapitalCase') || registrationForm.controls['password'].hasError('hasNumber')  ? 'error-message' : 'hidden'">
                            Enter valid password!
                        </span>
                    </div>
                    <div class="form-group input-field">
                        <label class="text">Confirm Password</label>
                        <input
                            [ngClass]="{'error-control': !registrationForm.get('confirmPassword').valid &&  registrationForm.get('confirmPassword').touched}"
                            type="text" class="form-control input-field" placeholder="confirm Password"
                            formControlName="confirmPassword">
                        <label class="error-message"
                            *ngIf="registrationForm.controls['confirmPassword'].hasError('required') && registrationForm.get('confirmPassword').touched">
                            Password is Required!
                        </label>
                        <label class="error-message"
                            *ngIf="registrationForm.controls['confirmPassword'].hasError('NoPassswordMatch') && registrationForm.get('confirmPassword').touched">
                            Password and confirm password should be same!
                        </label>
                    </div>
                    <div class="box mt-5">
                        <button class="primary-btn" [disabled]="!registrationForm.valid" type="submit">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>