/* You can add global styles to this file, and also import other style files */
.error-message{
    position: relative;
     font-size: 13px;
     color: red;
     float: left;
     }
     .form-group {
     margin-bottom: 1rem;
     margin-top: 19px;
 }
 
 .hidden{
    display: none;
 }
 

 